on: [push, workflow_dispatch]

permissions:
  contents: read

jobs:
  test_student_setup:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '>=3.13'
    - name: Run students/setup.py
      run: python students/setup.py -y
    # TODO: Check that VSCode is setup fine.
